#header {
    text-align: center;
    display:block
}

img {
    width: 500px;
    height: auto;
}

h1 {
    padding: 30px;
    color: rgb(0, 0, 0);
}

a {
    color: black;
    font-size: 50px;
}


.menu_icons {
    width: 200px;
    height: auto;
    max-width: 80%;
}

* {
    background-color:  rgb(220, 238, 238);

}

div {
    margin: 40px;
    block-size: 80%;
}

.pages-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
